body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-image: radial-gradient(#ddd 1px, transparent 0),
    radial-gradient(#ddd 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.head_all {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 60px;
  margin: 0 auto;
}

.head_left {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.head_right {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}
#search-kuang {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}
#input-kuang {
  background-color: rgb(0 0 0/0.03);
  font-size: 100%;
  width: 100%;
  padding: 8px 12px 8px 12px;
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  width: 220px;
  color: #6b7280;
}

#input-kuang:focus {
  background-color: #fff;
}

#kuang {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  border-radius: 5px;
  overflow: hidden;
}

#kuang div {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  padding-left: 7px;
  padding-right: 7px;
  color: #6b7280;
}

.sum_content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  justify-content: center;
  overflow: auto;
}

.center_content {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 800px;
}

.jinhao-style {
  color: #9ca3af;
  font-size: 30px;
  opacity: 0;
  text-decoration: none;
}

.jinhao-style:hover {
  opacity: 1;
  text-decoration: none;
}

.h2_line {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  background-color: #e5e7eb;
}

.yinyong_kuang {
  background-color: rgb(255 247 237);
  margin-top: 24px;
  border: 1px solid rgb(255 237 213);
  border-radius: 5px;
  display: flex;
  width: auto;
}

#nav {
  list-style: none;
  padding: 0%;
  margin-top: 64px;
  margin-bottom: 80px;
}

#nav > li {
  display: inline;
}

#nav li + li::before {
  content: "·";
}

.second-title {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 3s linear 0s;
}

.second-title.active {
  max-height: 1000px;
}

.code_kuang {
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #0053b30d;
  border-radius: 25px;
  background-color: #0053b30d;
  width: auto;
}
.code_style {
  background-color: #0000000d;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  padding: 2px 3.6px 2px 3.6px;
  font-size: 14.4px;
}

#os_list ul {
  margin: 24px 0px 0px 24px;
}

#os_list li {
  margin-top: 8px;
}

#feature_list ul {
  margin: 24px 0px 0px 24px;
}

#feature_list li {
  margin-top: 8px;
}

.end_date {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100px;
}

.end-second {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 45px;
  max-width: 1440px;
}

.end-last {
  background-color: rgb(243 244 246);
  height: 100px;
  border: 0 solid #e5e7eb;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1440px;
}

#title.red {
  color: red;
}
