.container {
  flex: 1;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 800px;
    padding: 16px 32px 0;
  }
}

.updateDate{
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100px;
}
